<div class="dice-roll">
    <div class="dice-result">
        <div class="dice-tooltip">
            <section class="tooltip-part">
                <div class="dice">
                    <header class="part-header flexrow">
                        <span class="part-formula">{{formula}}</span>
                        <span class="part-total">{{total}}</span>
                    </header>
                    <ol class="dice-rolls">
                        <li class="roll die {{formula}}">{{total}}</li>
                    </ol>
                </div>
            </section>
        </div>
        <h4 class="dice-total">{{total}} / {{target}}</h4>
    </div>
</div>
